<div class="banner">
    <div class="carousel">
        <div class="carousel-track">
            <div class="carousel-slide">Abierto de martes a domingo</div>
            <div class="carousel-slide">Happy Hour 2x1 de 18 a 20</div>
            <div class="carousel-slide">Delivery gratis con tu primer órden</div>
            <div class="carousel-slide">Abierto de martes a domingo</div>
            <div class="carousel-slide">Happy Hour 2x1 de 18 a 20</div>
            <div class="carousel-slide">Delivery gratis con tu primer órden</div>
        </div>
    </div>
</div>